<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VibeTix"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- LAUNCHER: MainActivity redirect đến UserMainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User main screen -->
        <activity
            android:name=".Activities.UserMainActivity"
            android:exported="false" />

        <!-- Organizer main screen (placeholder) -->
        <!-- <activity android:name=".Activities.OrganizerMainActivity" android:exported="false" /> -->

        <!-- Auth screen (Login + Register fragments) -->
        <activity
            android:name=".Activities.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
