<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Accessibility Assistant: ghi âm giọng nói + rung phản hồi -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Android 11+ cần khai báo để SpeechRecognizer tìm thấy service nhận diện -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".VibeTixApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VibeTix"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <!-- LAUNCHER: MainActivity redirect đến UserMainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User main screen -->
        <activity
            android:name=".Activities.User.UserMainActivity"
            android:exported="false" />

        <!-- EventHub: Trung tâm quản lý từng sự kiện (thay thế OrganizerMainActivity) -->
        <activity
            android:name=".Activities.Organizer.EventHubActivity"
            android:exported="false" />

        <!-- Admin main screen -->
        <activity
            android:name=".Activities.Admin.AdminMainActivity"
            android:exported="false" />

        <!-- Auth screen (Login + Register fragments) -->
        <activity
            android:name=".Activities.Auth.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Activities.Organizer.QrScannerActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Organizer.OrderManagementActivity"
            android:exported="false" />
            
        <activity
            android:name=".Activities.Organizer.EventStarManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Organizer.OrganizerBlastActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Organizer.EventStarStatsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Organizer.DiscountManagementActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Organizer.AttendeesActivity"
            android:exported="false" />


        <activity
            android:name=".Activities.Organizer.TicketTypeManagementActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Organizer.SendNotificationActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Admin.CreateDiscountActivity"
            android:exported="false" />

        <!-- Organizer screens -->
        <activity
            android:name=".Activities.Organizer.CreateEditEventActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Activities.Organizer.StaffManagementActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.User.OrganizerProfilesActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.User.CreateOrganizerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Activities.User.EventDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activities.Organizer.OrganizerRevenueActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Organizer.EventRevenueDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Organizer.TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.NotificationDetailActivity"
            android:exported="false" />
    </application>

</manifest>

